{%  extends 'base.html' %}
{% block title %}Choose Location{% endblock %}
{% block style %}
    #map-container {
            width: 600px;
            height: 400px;
            overflow: hidden;
        }
        #mapid {
            width: 100%;
            height: 100%;
        }
{% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    <label>Nazwa lokalizacji:</label>
    <input type="text" name="name"><br>
    <input type="hidden" id="latitude" name="latitude">
    <input type="hidden" id="longitude" name="longitude">
    <button type="submit">Dodaj</button>
</form>
<div id="map-container" style="width: 600px; height: 400px; overflow: hidden;">
        <div id="mapid" style="width: 100%; height: 100%;"></div>
    </div>
{% endblock %}